
<!-- Dialog which shows after login -->

<div class="b-dialog-a p-main-dialog-a-afterlogin">

	<ul>
		<li>
			<%= image_tag "missing-ico.png" %>
			<h3>Если пропал близкий</h3>
			<input type="submit" class="t-medium_fat silver blow l-full_width" style="width: 230px;" value="Создать объявление"/>
		</li>
		<li>
			<%= image_tag "volonter-ico.png" %>
			<h3>Хотите помочь в поисках?</h3>
			<input type="submit" class="p-main-register t-medium_fat silver l-full_width" style="width: 230px;" value="Хочу принять участие" />
		</li>
		<li>
			<%= image_tag "detective-ico.png" %>
			<h3>Если вы детектив</h3>
			<input type="submit" class="p-main-register t-medium_fat silver l-full_width" style="width: 230px;" value="Заполнить анкету"/>
		</li>
	</ul>
	

</div>
