<div class="container_16 p-main-suggest-info" type="missing">
    <div class="grid_10 p-main-suggest-head"><h2>Мы поможем вам</h2></div>
	<div class="clear"></div>
	                                         
	<div class="b-main-info-margin grid_5">
      <ul>
        <li><h3>Найдем добровольцев</h3></li>
        <li><p>Которые займутся необходимой для поиска работой: прочешут местность, расклеят объявления, соберут нужную информацию.</p></li>
      </ul>
	</div>

	<div class="b-main-info-margin grid_5">
		<ul>
			<li><h3>Соберем информацию </h3></li>
            <li><p>Собрем вместе информацию со знакомых пропавшего, что позволит создать полную картину происшедшего.</p></li>
		</ul>
	</div>

	<div class="b-main-info-margin grid_5">
		<ul>
			<li><h3>Организуем поиски</h3></li>
            <li><p>Если человек потерялся, то наши координаторы организуют активные поиски.</p>
              <p>Если в пропаже замешен криминал, то мы поможем связаться с детективами, которые возьмутся за ваше дело</p></li>
		</ul>
	</div>

	            
</div> 
