<div class="b-questions-sep">&nbsp;</div>

<div class="container_16 b-questions">

	<div class="grid_8">
		<h2>Вы завершили главную часть!</h2>
		<p>
			Теперь наша система знает про пропавшего человека. Это очень хорошо, бла-бла-бла. Блин, очень нужны на самом деле тексты для таких штук. Хочется чтобы максимально приближенно к оригиналу все было. Не понятно сколько здесь может быть строк текста.
		</p>

		
	</div>

	<div class="grid_8">
		<h2>Следующий необходимый шаг</h2>
		<p>
		Очень важно чтобы про пропажу стало известно за пределами нашего сервиса. Социальные сети имеют большую значимость в данном вопросе.	 
		Для улучшения пищеварения, пожалуйста, поделитесь ссылкой на пропажу
		в социалочках:
		</p>

	</div>
</div>

<div class="b-questions-sep">&nbsp;</div>

<div class="container_16 b-questions">

	<div class="grid_8">
		<h3>На самом деле у нас еще много вопросов по вашему делу.</h3>
		<p>Вы можете <a href="#">продлжить отвечать на вопросы</a>, или <a href="#">перейти на страницу объявления</a></p>
	</div>

	<div class="grid_8">
		<div class="b-questions-social">
		<ul>
			<li>
				<a href="#"> <span class="b-socimg-vk"></span> Вконтакте</a>
			</li>
			<li>
				<a href="#"> <span class="b-socimg-fb"></span> Facebook</a>
			</li>
			<li>
				<a href="#"> <span class="b-socimg-tw"></span> Twitter</a>
			</li>
			<li>
				<a href="#"> <span class="b-socimg-od"></span> Одноклассники</a>
			</li>
			<li>
				<a href="#"> <span class="b-socimg-gl"></span> Google</a>
			</li>
			<li>
				<a href="#"> <span class="b-socimg-ml"></span> Mail.ru</a>
			</li>
		</ul>
			
			
			
			
			
			
		</div>
	</div>
	
</div>

<div class="b-questions-sep">&nbsp;</div>