
<!-- Form for enter via facebook, vk etc on main page -->

<div class="p-main-socialEnterForm">
	<h3>Войдите через</h3>
	
	<ul>
		<li><a href="#"> <img src="" alt="" />Вконтакте</a></li>
		<li><a href="#"> <img src="" alt="" />Facebook</a></li>
		<li><a href="#"> <img src="" alt="" />Twitter</a> </li>
		<li><a href="#"> <img src="" alt="" />Одноклассники</a></li>
		<li><a href="#"> <img src="" alt="" />Google</a></li>
		<li><a href="#"> <img src="" alt="" />Mail.ru</a></li>
	</ul>
	
	<h3>или укажите электронную почту</h3>
	<input type="text" value="Vasiliy.Pupkin@home.ru" />
	<input type="submit" value="Продолжить"/>	
</div>
