<div class="container_16 p-main-suggest-info" type="volunteer"> 
	<div class="grid_10 p-main-suggest-head"><h2>Что мы предлагаем детективам</h2></div>
	<div class="grid_6 p-main-suggest-head"><h2>Как пользоваться сайтом</h2></div>

	<div class="clear"></div>
	
	<div class="b-main-info-margin grid_5">
		<h3>Большая база пропавших людей</h3>
		<div class="p-main-suggest-images">
		  	<% (45/@missings.length).times do |count|%>
	        
              <% @missings.each do |missing| %>                                         
			    <% if missing.photos.first %>
                  <%= image_tag missing.photos.first.photo.url(:thumb), { :size => "30x30", "data-random" => count + rand(100), "data-url" => missing_path(missing), "data-name" => missing.short_name, "data-date" => Russian.strftime(missing.created_at, "%e %B %Y года") } %>   
				<% else %>
				<%= image_tag 'no_photo.jpg', { :size => "30x30", "data-url" => url_for(missing), "data-name" => missing.name, "data-date" => missing.created_at }  %>
				<% end %> 
			<% end %> 	

            <% end %>      
			
		</div>
		<div class="p-main-suggest-popup l-hidden">
          <a href="#" class="link"><%= image_tag "small-photo-test.jpg", :class => "photo" %></a>
			<a href="#" class="name link">Бухал Бухалыч</a>
			<p>Пропал 20 мая 2009 года</p>
		</div>
	</div>

	<div class="b-main-info-margin grid_5">
		<ul>
			<li><h3>Инструмент для анализа</h3></li>
			<li><p>Вы готовы уделить ваше время поиску пропавших без вести? Мы с радостью примем любую помощь от вас.</p></li>
			<li><h3 class="p-main-suggest-hshift">Еще одно достоинство</h3></li>
			<li><p>Этот блок ведь такой рекламный, поэтому здесь перечисляются всякие достоинства для каждого типа.</p></li>
		</ul>
	</div>

	<div class="grid_5">
    	<ul>
			<li><h3 class="p-main-suggest-hshift">Еще одно достоинство</h3></li>
			<li><p>Этот блок ведь такой рекламный, поэтому здесь перечисляются всякие достоинства для каждого типа.</p></li>
		</ul>

	</div>                
</div>
