<script>
  var questions_disabled = true;
</script>
<div class="container_16 b-disabled-questions b-questions">
	<div class="grid_8">
		<h2>Ваше объявление опубликовано!</h2>
		<div class="description">
			Теперь каждый из посетителей сайта сможет:
			<ul>
				<li>написать вам личное сообщение</li>
				<li>предложить вам помощь в поиске пропавшего</li>
				<li>сообщить вам дополнительную информацию о пропавшем</li>
			</ul>
		</div>

		
	</div>

	<div class="grid_8">
		<h2>Расскажите друзьям о пропаже</h2>
		<p class="description">
			Этот важный шаг займет всего несколько секунд вашего времени и окажет колоссальную помощь в поиске пропавшего.
		</p>
		<p class="description">
			Чем больше людей узнает об исчезновении, тем быстрее и успешнее будет продвигаться поиск. Вы получите максимальное количество важной информации и, самое главное, &mdash; неравнодушных людей, готовых помочь вам. 
		</p>

	</div>
</div>

<div class="b-questions-sep">&nbsp;</div>

<div class="container_16 b-questions">

	<div class="grid_8">
		<h3>У нас еще много вопросов по вашему делу.</h3>
		<p class="description">Вы можете <a href="#" class="b-question__toggle">продолжить отвечать на вопросы</a>.</p>
	</div>

	<div class="grid_8">
		<div class="b-questions-social">
		<ul>
			<li>
				<a href="#"> <span class="b-socimg-vk"></span> Вконтакте</a>
			</li>
			<li>
				<a href="#"> <span class="b-socimg-fb"></span> Facebook</a>
			</li>
			<li>
				<a href="#"> <span class="b-socimg-tw"></span> Twitter</a>
			</li>
			<li>
				<a href="#"> <span class="b-socimg-od"></span> Одноклассники</a>
			</li>
			<li>
				<a href="#"> <span class="b-socimg-gl"></span> Google</a>
			</li>
			<li>
				<a href="#"> <span class="b-socimg-ml"></span> Mail.ru</a>
			</li>
		</ul>
		</div>
	</div>
	
</div>

<div class="b-questions-sep">&nbsp;</div>
