@import url("scaffold.css"); /* Remove if not using scaffolding */

a { color: #0065cc; }
a:hover { color: red;}

.t-big {
	font-size: 18px;
}

.t-medium {
	font-size: 16px;
}

.t-normal {
	font-size: 13px;
}

.t-small {
	font-family: Verdana;
	font-size: 11px;
}

.b-padding_1 { 
	padding: 1em;
}

.b-pseudo_link {
	cursor: pointer;
	color: #0065cc;
	border-bottom: 1px dotted #0065cc;
}

.b-pseudo_link:hover {
	color: red;
	border-bottom: 1px dotted red;
}
