.b-form__nav_panel {
	position: relative;
	width: 100%;
	height: 32px;
	background: #f4f4f4;
	z-index: 1;
	
	top: -32px;
}

.b-form__nav_list {
	list-style: url(../images/form_arrow.png) none;
	
	height: 32px;
	position: relative;
	z-index: 2;
}
	
	.b-form__nav_element {
		float: left;
		margin-right: 2.5em;
		padding-left: 1em;
		padding-top: 8px;
		
	}
	
	.b-form__nav_first_element {
		margin-left: -3.1em;
		
		list-style: none;
	}

	.b-form__nav_first_element.b-form__nav_current_element {
		margin-left: -2.7em;
	}
	
	.b-form__nav_current_element {
		font-size: 16px;
		font-weight: bold;
		
		padding-top: 6px;
	}
	
.b-form__label {
	font-size:16px;
	
	line-height: 37px;
}

.b-form__radio_list {
  margin: 0;
  list-style: none;
}

.b-form__text_name {
  width: 280px;
  height: 20px;
}

.b-form__text_growth {
  width: 40px;
}

.b-form__gender_list {
	list-style: none;
	
	margin: 1em 0 0;
	overflow: hidden;
}

	.b-form__gender_element {
		float: left;
		margin: 0 2em 0 0;
	}
	
		.b-form__gender_label {
			padding-left: .4em;
			vertical-align: .2em;
		}