<div class="t-medium ">Спасибо за ответы. У нас к вам есть еще вопросы, мы их зададим после размещения объявления.</div> 
<p><br>Переходите к следующему шагу</p>                              

<script>
	$('.b-form__questions_container').remove();
</script>
