<% @title = "Поиск пропавших без вести" %>
<div class="container_16">
  <div class="grid_8 prefix_1 content">
    <p>Найти пропавшего без вести в России — практически невыполнимая задача: процесс поиска в нашей стране сопровождается многочисленным трудностями.</p>
    <p>Например, согласно российским законам, вы можете подать заявление о пропаже близкого вам человека только через три дня после его исчезновения. Кроме того, вам было бы крайне трудно найти в России организацию, способную собрать полную информацию о случаях исчезновений, найти нужных людей и организовать поиск пропавших. Все эти проблемы оставались нерешенными до возникновения "Найду тебя"</p>


<h2>Найду тебя - сервис для поиска пропавших без вести</h2>
<p>Наш сервис анализирует обстоятельства исчезновений и собирает как можно больше информации о пропавших без вести. "Найду тебя" организует поиски в сотрудничестве с детективными агентствами, частными следователями и поисковыми отрядами. С помощью сервиса вы можете, не теряя времени, приступить к поиску пропавшего человека, контролируя ход поиска и подключая к нему нужных вам профессионалов.</p>

<h2>Организуем людей для поиска пропавших</h2>
<p>Предоставив "найду тебя" информацию о пропашем человеке, вы поможете не только себе, но и другим — сервис объединяет схожие случаи исчезновений, создавая возможность найти сразу нескольких людей, пропавших без вести.</p>

<h2>Освещаем пропажу среди миллионов людей</h2>
<p>"Найду тебя" предоставит вам возможность широко осветить пропажу в интернете — прежде всего, в наиболее обширных социальных сетях. Все эти составляющие позволят вам незамедлительно приступить к поискам и найти пропавшего человека как можно скорее.</p>
</div>
</div>
