.b-head-bg, .b-head-bg__logged {
	background: #913A64;
	
	border-bottom: 1px solid #794054;                
}

.b-head-bg {
	height: 35px;
}        

.b-head-bg__logged {
	height: 75px;
}
            
	.b-head-bg__logged .b-head__logo {       
		padding-left: 1px;
		margin-top: 10px;
	}                   
	
.b-head { 
	height: 60px;
	padding-top: 1em;
}                
	.b-head-bg {
		padding-top: 10px;
	}
	.b-head-hr {
		margin: 0 0 10px !important;
	}
	
            
	
	.b-head__auth {
        float: right !important;
		margin-top: .5em;
	}   
	
	.b-head__settings {
		display: block;
		margin-bottom: .3em;
	}                
	
	.b-head__logined {
		color: #dedede;
	}
	
	.b-head__login_form {
		display: none;

		background: #fff !important;
		
		padding: 30px 0 0 40px !important;
	}
	
	.b-head__block {
		margin: 9px 0;
	}                
	
	
	.b-head__menu {
		color: #ddd;
	}                 

	.b-head__menu_table {
		width: 100%;     
		margin-top: 10px;
	}                   

	.b-head__menu_description {
		margin-top: 5px;
	}                    

	.b-head__menu .black {
		position: absolute;
		top: 67px;

	}
