.b-head-bg {
	background: #333;
	
	border-bottom: 1px solid #ccc;   
	
	-webkit-box-shadow: inset 0px -1px 4px 1px rgba(00, 00, 00, 0.1);
	-moz-box-shadow: inset 0px -1px 4px 1px rgba(00, 00, 00, 0.1);
	box-shadow: inset 0px -1px 4px 1px rgba(00, 00, 00, 0.1);
}

.b-head-bg {
	height: 99px;
}

.b-head { 
	height: 60px;
	padding-top: 1em;
}
	.b-head-hr {
		margin: 0 0 10px !important;
	}
	
	.b-head__logo {
		width: 79px;
		height: 39px;
		
		background: url(../images/logo.png) no-repeat;
		
	}                
	
	.b-head__auth {
		margin-top: 6px;
	}                   
	
	.b-head__logined {
		color: #dedede;
	}
	
	.b-head__login_form {
		display: none;
		
		text-align: center;
		font-size: 18px;
		
	}
	
	.b-head__login_form_text {
		margin: 9px 0;
		width: 275px;
		height: 25px !important;
		
		font-size: 18px;
		text-align: center;			
	}
	
	#login_name {
		margin-top: 15px;
	}
	.b-head__block {
		margin: 9px 0;
	}