/* Тулбар  */
.b-report__toolbar {
	margin-bottom: 20px;
}
.toolbar .ui-state-default, .toolbar .ui-widget-content .toolbar .ui-state-default, .toolbar .ui-widget-header .toolbar .ui-state-default
{	
	color: #0065cc;
	
	padding: 10px 15px 10px !important;
	border: 1px solid #e5e5e5; 
	border-bottom-color: #e6e6e6;
	border-left-color: #e4e4e4;
	border-right-color: #e4e4e4;
	
	background: #fff; /* Old browsers */
	background: -moz-linear-gradient(top, #fff 0%, #f1f1f1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#f1f1f1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fff 0%,#f1f1f1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fff 0%,#f1f1f1 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #fff 0%,#f1f1f1 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#f1f1f1',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #fff 0%,#f1f1f1 100%); /* W3C */                    
	
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	
}

.toolbar .ui-state-default a, .toolbar .ui-state-default a:link, .toolbar .ui-state-default a:visited { color: #1c94c4; text-decoration: none; }
.toolbar .ui-state-hover, .toolbar .ui-widget-content .toolbar .ui-state-hover, .toolbar .ui-widget-header .toolbar .ui-state-hover, .toolbar .ui-widget-content .toolbar .ui-state-focus, .toolbar .ui-widget-header .toolbar .ui-state-focus {

	color: #cc0000;
	
	background: -webkit-linear-gradient(top, #fff 0%,#f1f1f1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fff 0%,#f1f1f1 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #fff 0%,#f1f1f1 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#f1f1f1',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #fff 0%,#f1f1f1 100%); /* W3C */
}

.toolbar .ui-state-hover a, .toolbar .ui-state-hover a:hover { color: #c77405; text-decoration: none; }
.toolbar .ui-state-active, .toolbar .ui-widget-content .toolbar .ui-state-active, .toolbar .ui-widget-header .toolbar .ui-state-active { 	

	color: #000; 
   
	
	border: 1px solid #d6d6d6; 
	border-bottom-color: #e5e5e5;
	border-left-color: #ddd;
	border-right-color: #ddd;
	
	background: #f1f1f1; /* Old browsers */
	background: -moz-linear-gradient(top, #f1f1f1 0%, #fff 70%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f1f1), color-stop(70%,#fff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f1f1f1 0%,#fff 70%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f1f1f1 0%,#fff 70%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #f1f1f1 0%,#fff 70%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#fff',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #f1f1f1 0%,#fff 70%); /* W3C */
}

.b-report__empty {
  color: #666;
  text-align: center;
}
                   


/* Блок статистики */

.b-report__statistic .b-sidebar__header {
	margin-bottom: 15px;
}

.b-report__statistic_red, .b-report__statistic_toolbar {
	font-weight: bold;
}                     

.b-report__statistic_red {
	color: #cc0000;
}                  

.b-report__statistic_green {
	color: #007000;
}                 

.b-report__new_message {
	display: none;
}             

.b-report__detectives_list {
	margin: 17px 0;
}
.b-report__detectives_description {
	margin: 27px 0 7px;
}               

.b-report__services .b-sidebar__list_item {
	line-height: 18px;

}
               

/* Детектив */
.b-report__detective_list .b-list__element_content {
	text-align: left;      
}


.b-report__detective_list .b-list__element {
	width: 330px;
	min-width: 330px;

 
}



.b-report__detective_list_username {
	margin: .7em 0 .5em;
}
                         
.b-report__detective_list_image { 
	width: 117px;
}

.b-report__detective_list .b-list__image, .b-gradient-block__list_image	 {
	-webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
	
	border: 3px solid #fff;    
	
	margin: 3px;
	
}
                 
.b-report__detective_list_info {
	margin: 2px;           
	
}              

.b-report__detective_update { 
	margin: .5em 0;
}              

.b-report__detective_silver {
   color: #666;
}               


.b-report__detective_missings {
	padding: 0 0 8px !important;     
}                   

.b-report__detective_missings .b-sidebar__header {
	text-align: center; 
	margin: 6px 0 8px;
}                    

.b-gradient-block__list_element {   
	padding: 5px 7px;     
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 70%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 70%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 70%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 70%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 70%); /* W3C */
}                  

	.b-gradient-block__list_info { 
		padding-left: 9px;
		padding-top: 3px;   
		
		width: 62%;
	}          
	
.b-report__search_missings_button {
	width: 94%;
	margin: 7px 3% 0;
}                       

/* Поиск сообщений */
.b-report__search.messages {
	margin: 4px 19px;
}                   

.messages input.b-report__search_field {
	margin-left: 19px;
}      
input.b-report__search_field {
	width: 181px;
	margin: 0 9px 0 0;
}       


.b-report__search.contacts {
		margin: 10px 0 16px;
}
