<div class="b-header">Результаты поиска</div>
<% @search.missings.each do |m| %>
  <ul class="b-result-list">
  	<li class="b-result-list__item">
        <a href=""><div class="b-result-missing__photo l-left"></div></a>
        <div class="b-result-missing__description">
          <a href="<%= m" class="b-result-missing__name"></a>
          <p class="b-result-missing__field"></p>
          <p class="b-result-missing__field"></p>
        </div>
  	</li>
  </ul>
