
  
  <div class="field">
    <%= f.label :description, :class => "b-form__label" %><br />
    <%= f.text_area :description %>
  </div>
  
  <div class="field">
    <%= f.label :man_char_hash %><br />
    <%= f.text_area :man_char_hash %>
  </div>