<p class="b-header__description">
  fdsfas
</p>
 
</div>
</div>
<!-- End grid_8 and container from new.html.erb -->

<div class="clear"></div>
<hr class="b-hr" />

<div class="container_16">
  <div class="grid_8">
    <% f.fields_for :places do |builder| %>
      <% render "place_fields", :f => builder %>
    <% end %>
    
<!-- Container and grid_8 div closed in new.html.erb -->
