	<div class="b-list">
	<% @missings.each do |missing| %>
	  <div class="b-list__element">
		<div class="b-list__element_content">
			<a href="<%= missing_path(missing) %>/" class="b-list__name_link">
			<% unless missing.photos.first %>
				<%= image_tag 'no_photo.jpg', :size => "160x160", :class => "b-list__image"  %>
			<% else %>
				<%= image_tag missing.photos.first.photo.url(:small), :size => "160x160", :class => "b-list__image" %>
			<% end %>
			<%= missing.name %>
			</a>
		</div>
		<div class="b-list__element_min"></div>
	  </div>
	<% end %>
	</div>