<div class="b-header">Места, где <% if @missing.gender == true %>бывал<% else %>бывала<% end %> <%= @missing.name %></div>
  <div class="b-missing__map">
                                                                    
  </div>

  <div class="b-missing__places">
    <% @missing.places.each do |p| %>
	   <div class="b-form__field b-form__place l-left">
		<div class="b-form__label b-missing__wide_label">
          <%= p[:label] %>
		</div>        
		<div class="b-form__place_inner">
          <% p[:answers].each do |a| %>
            <p><%= a[:address] %></p>
          <% end %>
		</div>               
	   </div>
     <% end %>

   </div>
