<script>
var questions = <%= @questions.to_json.html_safe %>; 
</script>
                         
<div class="b-form__background b-form__questions_container show_page l-hidden">
	<div class="container_16">
		<div class="b-form__questions_infinity grid_16">    
			<div class="b-form__questions_fade"></div>  
			<div class="t-big b-form__questionnaire"></div>                  
			<div class="b-form__questions">
			</div>
		</div>       
		<div class="b-form__questions_finish l-hidden">
			<div class="t-medium">Спасибо за ответы. У нас к вам есть еще вопросы, мы их зададим после размещения объявления.</div> 
			<p><br>Переходите к следующему шагу</p>    
		</div>
	</div>
	<div class="clear"></div>
</div>
