<div class="b-list b-missing__photos">
<% @missing.photos.each do |photo| %>
  <div class="b-list__element">
	<div class="b-list__element_content">
		<%= image_tag "/photos/" + photo.image_name, :size => "100x100", :class => "b-list__image" %>
	</div>
	<div class="b-list__element_min"></div>
  </div>
<% end %>
<% (3-@missing.photos.count).times do |i| %>
	<div class="b-list__element">
		<div class="b-list__element_content">
			<%= image_tag 'no_photo.jpg', :size => "100x100" %>
		</div>
		<div class="b-list__element_min"></div>
	</div>
<% end %>
</div>
<div class="t-medium b-missing__history_header">История</div>
<p>
	<%= @missing.description %>
</p>