<div class="b-header">Места, где <% if @missing.gender == true %>бывал<% else %>бывала<% end %> <%= @missing.name %></div>
  <div class="b-missing__map">
                                                                    
  </div>

  <div class="b-missing__places">
	   <div class="b-form__field b-form__place l-left">
		<div class="b-form__label b-missing__wide_label">
			Работа
				<%= tag :input, { :type => "button", :value => "Показать на карте", :class => "blue_action b-missing_hidden_action" } %>

		</div>        
		<div class="b-form__place_inner">
			<p>Описание</p>
			<p class="t-small">улица Тар тарары</p>   
		</div>               
	   </div>

   </div>