<div class="container_16">
	
<div class="grid_10">
<div class="b-header">
	Размещение объявления
</div>

<div class="b-header__description">
	<p>
		Создать объявление о пропаже очень просто: достаточно заполнить разделы объявления, продвигаясь от одного шага к другому. 
	</p>
	<p>
		Постарайтесь разместить в вашем объявлении наиболее полную и точную информацию — она  необходима для качественного и оперативного поиска.
	</p>
</div>

</div>
<!-- End grid_10 -->
<div class="clear"></div>
<!-- End header -->

<div class="grid_16">
	
<ul class="b-form__nav_list">
	<li class="b-form__nav_element b-form__nav_first_element <%- if @missing.current_step == "common" -%> b-form__nav_current_element <%- end -%>">
	  Заполнение основной информации
	</li>
	<li class="b-form__nav_element<%- if @missing.current_step == "characteristic" -%> b-form__nav_current_element <%- end -%>">
	  Описание человека
	</li>
	<li class="b-form__nav_element<%- if @missing.current_step == "history" -%> b-form__nav_current_element <%- end -%>">
	 Обстоятельства пропажи
	</li>
	<li class="b-form__nav_element<%- if @missing.current_step == "contacts" -%> b-form__nav_current_element <%- end -%>">
	  Обратная связь
	</li>
</ul>

</div>
</div>

</div>
<div class="clear"></div>
<!-- End grid_16 and container -->
<div class="b-form__nav_panel">
</div>

<div class="container_16">
<div class="grid_8">
		
<%= render 'form' %>

</div>
</div>
<!-- End grid_8 and container  -->

