<div class="p-new-missing container_16 b-content">
	
<div class="grid_10">
<div class="b-header">
	Размещение объявления
</div>

<%- if @missing.first_step? -%>
<div class="b-header__description">
	<p>
		Создать объявление о пропаже очень просто: достаточно заполнить разделы объявления, продвигаясь от одного шага к другому. 
	</p>
	<p>
		Постарайтесь разместить в вашем объявлении наиболее полную и точную информацию — она необходима для оперативного поиска.
	</p>
</div>
<%- end -%>

</div>
<!-- End grid_10 -->
<div class="clear"></div>
<!-- End header -->
</div>

<div class="b-form__nav_panel">
<div class="container_16"> 
<div class="grid_16">
	
<ul class="b-form__nav_list">
	<li class="b-form__nav_element b-form__nav_first_element <%- if @missing.current_step == "common" -%> b-form__nav_current_element <%- end -%>">
	  <%= link_to_unless_current "Заполнение основной информации", "/add_missing", { :class => "missing_step" } %>
	</li>
	<li class="b-form__nav_element<%- if @missing.current_step == "history" -%> b-form__nav_current_element <%- end -%>">
	  <%= link_to_unless_current "Обстоятельства пропажи", "/add_missing/history", { :class => "missing_step" } %>
	</li>
    <% unless current_user %>
	<li class="b-form__nav_element<%- if @missing.current_step == "contacts" -%> b-form__nav_current_element <%- end -%>">
	  <%= link_to_unless_current "Обратная связь", "/add_missing/contacts", { :class => "missing_step" } %>
	</li>
  <% end %>
</ul>

</div>
</div>

<div class="clear"></div>
<!-- End grid_16 and container -->
</div>


<%= render 'form' %>


