/*
*= require_self      
*= require ui   
*= require_tree ./app
*= require_tree ./fancybox
*/


/*  
Sticky Footer Solution
by Steve Hatcher
http://stever.ca http://www.cssstickyfooter.com
*/
html, body, #wrapper {
	height: 100%;
	background: rgb(248,248,248); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(248,248,248,1) 0%, rgba(255,255,255,1) 250px); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,248,248,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(248,248,248,1) 0%,rgba(255,255,255,1) 250px); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(248,248,248,1) 0%,rgba(255,255,255,1) 250px); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(248,248,248,1) 0%,rgba(255,255,255,1) 250px); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(248,248,248,1) 0%,rgba(255,255,255,1) 250px); /* W3C */             
	
    min-width: 1024px;
}

body > #wrapper { height: auto; min-height: 100%; }     
/*body > #wrapper { height: auto; min-height: 0%; }*/

p {
	line-height: 125%;
} 

#wrapper { 
   margin-bottom: -35px;  
}
               
/* must be same height as the footer */
#content { overflow: auto; padding-bottom: 65px; } 

#footer {
    position: relative;
    height: 35px;
    clear: both;      
    
	margin-top: 35px;
} 
	#footer .b-hr {
		margin: 0;
	}

	.b-footer td {
		padding-top: 10px;
	}


/*Opera Fix*/
body:before { /* thanks to Maleika (Kohoutec)*/
    content: "";
    height:100%;
    float: left;
    width: 0;
    margin-top: -32767px; /* thank you Erik J */
}


body { color: #000; }
a { color: #0065cc; }
a:hover { color: red;}  
#footer a:link { color: #0a3a83; }

               
.t-biggest {
	font-size: 20px;
}                  

.t-big {
	font-size: 18px;
}

.t-medium, .t-medium_fat {
	font-size: 16px !important;
}

.t-normal {
	font-size: 13px;
}

.t-small {
	font-size: 11px;
}
    

.t-bold {
	font-weight: bold;
}              

.t-center {
	text-align: center;
}


.b-padding_1 { 
	padding: 1em;
}


.b-pseudo_link {
	cursor: pointer;
	color: #0065cc;
	border-bottom: 1px dotted #0065cc;
}

.b-pseudo_link:hover {
	color: red;
	border-bottom: 1px dotted red;
}



.l-left {
	float: left;
}      
.l-right {
	float: right;
}                   

.l-inline {
	display: inline-block !important;
}                        
              
.l-block {
	display: block;
}        

.l-hidden {
	display: none;
}                                                          


.b-rightside {
	float: right;
	width: 270px;
}

.l-full_width {
	width: 100%;
}           

.l-half_width {
	width: 50%;
}
              
