.b-missing_header__description {
	margin: .2em 0 10px;
}

.b-missing__leftside {
	background: #f1f1f1;
	
	width: 220px;
	float: left;
}
	.b-missing__leftside .b-sidebar__list {
		margin: 4px 11px;
	}
	
		.b-missing__leftside .b-sidebar__list_element {
			height: auto;
		}
	
.b-missing__i_saw {
	width: 90%;
	margin: 0 5% 9px;
}

.b-missing__photo { 
	width: 220px;
}

.b-missing__center {
	margin-left: 20px;
	float: left;
}

.b-missing__photos .b-list__element {
	/* Отсупы между float-блоками */
	margin: 1.5em 20px 0 0;

	/* Задаем минимальную ширину по картинке и тексту */
	width: 100px;
	min-width: 100px;
	height: 100px;
}

	.b-missing__photos .b-list__image {
		width: 100px;
	}
	
	.b-missing__photos .b-list__element_min {
		/* Задаем минимальную высоту по картинке */
		margin: 0 0 100px 0;

		/* Задаем минимальную высоту по тексту */
		height: 4em;

		/* Дублируем значение минимальной ширины по картинке для IE */
		width: 150px;
	}
	

.b-missing__rightside {
	padding: 10px 20px 15px !important;
	margin-bottom: 22px;
}

	.b-missing__rightside .b-sidebar__header {
		padding-bottom: 12px !important;
	}

.b-missing__send_message { 
	margin-left: -4px;
	padding-left: 29px !important;
	padding-right: 29px !important;
}
.b-missing__author_data {
	margin: 11px 0 14px;
	width: 100%;
}
	.b-missing__author_data_label, .b-missing__author_data_data {
		padding-top: 7px;
	}
	.b-missing__author_data_label {
		width: 64px;
	}
	
.b-missing__share {
	display: inline-block;
}

div.b-missing__share {
	width: 15em;
	margin-left: 3px;
}

.b-missing__map .gmaps4rails_map {
	width: 300px !important;
	height: 225px !important;
}


.b-missing__places {
	padding: 34px 0 0 38px;
}

.b-missing_hidden_action { 
	display: none;
}
.b-missing__places:hover .b-missing_hidden_action {
	display: inline-block;
	float: right;
}
	.b-missing__show_place {
		float: right !important;
	}
	
	
	
.b-missing__description {
	width: 400px;
}