<input class="b-head__login b-button-type-a b-button-enter-to-site" type="button" value="Войти" />  
<div class="b-head__login_form">
	<input id="login_name" class="b-head__login_form_text" type="text" placeholder="эл. почта или телефон">
	<input id="login_password" class="b-head__login_form_text" type="text" placeholder="пароль">
	<p class="b-head__block">
		<input id="login_remember_me" type="checkbox"><label for="login_remember_me"> запомнить меня</label>
	</p>
	<p class="b-head__block">
		<input type="button" value="Войти" class="t-medium"/>
	</p>
	<p class="b-head__block">
		<a href="#">вспомнить пароль</a>
	</p>
</div>